.tree_well{
    width: 100%;
    float: left;
}
.tree_tracer{
    margin: 0 auto;
    height: auto;
    min-height: 100px;
}
.tree_tracer ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree_tracer li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree_tracer li::before, .tree_tracer li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree_tracer li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}
.tree_tracer li:only-child::after, .tree_tracer li:only-child::before {
    display: none;
}
.tree_tracer li:only-child{ padding-top: 0;}
.tree_tracer li:first-child::before, .tree_tracer li:last-child::after{
    border: 0 none;
}
.tree_tracer li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree_tracer li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.tree_tracer ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree_tracer li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.tree_tracer li a:hover, .tree_tracer li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
.tree_tracer li a:hover+ul li::after,
.tree_tracer li a:hover+ul li::before,
.tree_tracer li a:hover+ul::before,
.tree_tracer li a:hover+ul ul::before{
    border-color:  #94a0b4;
}